version: '3.8'

# Define the secrets to be read from files on the host.
secrets:
  db_user:
    external: true
  db_password:
    external: true
  db_name:
    external: true
  redis_user:
    external: true
  redis_password:
    external: true


services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    image: cafe_backend:latest
    ports:
      - "5000:5000"
    networks:
      - cafe_network
    # This ensures the container can reach the host machine's services.
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # Mount the secrets as files into the container at /run/secrets/
    secrets:
      - db_user
      - db_password
      - db_name
      - redis_user
      - redis_password
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    image: cafe_frontend:latest
    ports:
      - "80:80"
    networks:
      - cafe_network
    depends_on:
      - backend

  redis:
    image: redis:latest
    #command: redis-server --requirepass-file /run/secrets/redis_password
    environment:
      - REDIS_ARGS=--requirepass-file /run/secrets/redis_password

    secrets:
      - redis_password
    volumes:
      - redis_data:/data
    networks:
      - cafe_network
    ports:
      - "6379:6379"


networks:
  cafe_network:
    driver: overlay


volumes:
  redis_data:
